<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clearmind">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClearMind">
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="true" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LearnActivity"
            android:exported="true" />
        <activity
            android:name=".SaveActivity"
            android:exported="true" />
        <activity
            android:name=".AchieveActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SecureQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".PreSurveyActivity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey1_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey2_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey3_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey4_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey5_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey6_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey7_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey8_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey9_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey10_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey11_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey12_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey13_Activity"
            android:exported="true" />
        <activity
            android:name=".PreSurvey14_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Opening_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Activity1_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Activity2_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Activity2_Question_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Intro_ACT_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Time_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter1_Summary_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Opening_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity1_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity2_1_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity2_2_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity2_2Q_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Activity2_3_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Diagram_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chapter2_Activity2_5_Activity"
            android:exported="true" />
        <activity
            android:name=".Chapter2_Summary_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:parentActivityName=".LoginPageActivity"></activity>

        <receiver
            android:name=".TimeBroadcast"
            android:permission="android.permission.SEND_SMS"
            android:enabled="true"
            android:exported="true">
        <intent-filter>
            <action
                android:name="android.intent.action.AIRPLANE_MODE"/>
        </intent-filter>
        </receiver>

    </application>

</manifest>